.dropDown {
	position: absolute;
	top: 16px;
	right: 20px;
	display: inline-block;
	border-right: 2px solid $white;
	border-bottom: 2px solid $white;
	width: 10px;
	height: 10px;
	transform: rotate(-45deg);
	transform-origin: center;
	transition: transform 0.2s;
}

.resume {
	overflow-y: hidden;
	padding-bottom: 0;

	h3 {
		position: relative;
		width: calc(100% - 20px);
		padding: 10px 20px;
		font-size: 2rem;
		color: $white;
	}

	p {
		font-size: 1.6rem;
		margin: 0;
	}

	h4 {
		font-size: 1.6rem;
		span {
			font-style: italic;
			font-weight: normal;
			font-size: 1.6rem;
		}
	}

	li {
		font-size: 1.6rem;
	}

	.bulletPoint {
		position: relative;
		margin: 0;
		transition: margin 0.5s;
	}

	.bulletPoint:before {
		content: " ";
		width: 1.5rem;
		height: 1.5rem;
		line-height: 0.5;
		position: absolute;
		top: 0;
		left: -28px;
		border-radius: 50%;
	}

	.resumeInfo {
		position: relative;
		height: 0;
		transition: height 0.5s, margin 0.5s;
		background: inherit;
		color: inherit;
		padding: 0 20px;
	}
	.resumeInfo > ul {
		padding: 10px 0 10px 20px;
		height: 100%;
	}

	h3.activeResume span {
		transform: rotate(45deg);
	}

	h3.activeResume + .resumeInfo {
		position: relative;
		height: calc(80vh - 194px);

		.bulletPoint {
			margin-bottom: 10px;
		}
	}
}

.employment {
	.duration {
		color: $color1;
	}

	> ul {
		border-left: 2px solid $color1;
	}
	.bulletPoint:before {
		background: $color1;
	}
}
.education {
	li {
		font-size: 1.6rem;
		font-weight: bold;
		span {
			font-style: italic;
			font-weight: normal;
		}
	}
	p {
		font-weight: normal;
		color: $color2;
	}

	> ul {
		border-left: 2px solid $color2;
	}
	.bulletPoint:before {
		background: $color1;
	}
}

.communityInvolvement {
	.duration {
		color: $color3;
	}

	> ul {
		border-left: 2px solid $color3;
	}
	.bulletPoint:before {
		background: $color3;
	}
}
