.skills {
	ul {
		margin: 10px;
		@include flexRow(center, center);
		flex-wrap: wrap;
		text-align: center;
		height: 80%;
	}
	&.lightTheme li {
		box-shadow: 0 0 10px 2px #ccdce3;
	}
	&.darkTheme li {
		img {
			filter: drop-shadow(1px 1px 1px #525252);
		}

		i {
			color: $black;
			text-shadow: 1px 1px 1px #525252;
		}
		h3 {
			color: $black;
			text-shadow: 1px 1px 1px #525252;
		}
	}
	li {
		@include flexCol(center,center);
		width: calc(20% - 10px);
		margin: 5px;
		padding: 20px 0px;
		// height: 40%;
		transition: background 0.5s, box-shadow 0.5s;

		div {
			width: 85%;
			padding: 10px 0;
			margin: 7.5%;
		}

		i {
			font-size: 6rem;
			background: transparent;
			color: $white;
			text-shadow: 1px 1px 1px black;
		}

		img {
			height: 60px;
			width: auto;
			margin: 0 auto;
			filter: drop-shadow(1px 1px 1px black);
		}
	}
	h3 {
		font-size: 1.7rem;
		background: transparent;
		text-shadow: 1px 1px 1px black;
		color: $white;
	}
}
